USE [master]
GO
/****** Object:  Database [bd_pdan_transacciones_bi_6]    Script Date: 14/01/2026 22:18:00 ******/
CREATE DATABASE [bd_pdan_transacciones_bi_6]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_pdan_transacciones_bi_6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_pdan_transacciones_bi_6]
GO
/****** Object:  Table [dbo].[dim_canal]    Script Date: 14/01/2026 22:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_canal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[canal] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_sucursal]    Script Date: 14/01/2026 22:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_sucursal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sucursal_id] [int] NULL,
	[sucursal] [varchar](6) NULL,
	[sector] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tiempo]    Script Date: 14/01/2026 22:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tiempo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha_transaccion] [date] NOT NULL,
	[anio] [date] NOT NULL,
	[mes] [date] NOT NULL,
	[dia] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_tipo_transaccion]    Script Date: 14/01/2026 22:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_tipo_transaccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipo_transaccion_id] [int] NOT NULL,
	[tipo_transaccion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hechos_transacciones]    Script Date: 14/01/2026 22:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hechos_transacciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dim_tiempo_id] [int] NOT NULL,
	[dim_tipo_transaccion_id] [int] NOT NULL,
	[dim_sucursal_id] [int] NOT NULL,
	[dim_canal_id] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK_hechos_transacciones] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[hechos_transacciones]  WITH CHECK ADD  CONSTRAINT [FK_hechos_canal] FOREIGN KEY([dim_canal_id])
REFERENCES [dbo].[dim_canal] ([id])
GO
ALTER TABLE [dbo].[hechos_transacciones] CHECK CONSTRAINT [FK_hechos_canal]
GO
ALTER TABLE [dbo].[hechos_transacciones]  WITH CHECK ADD  CONSTRAINT [FK_hechos_sucursal] FOREIGN KEY([dim_sucursal_id])
REFERENCES [dbo].[dim_sucursal] ([id])
GO
ALTER TABLE [dbo].[hechos_transacciones] CHECK CONSTRAINT [FK_hechos_sucursal]
GO
ALTER TABLE [dbo].[hechos_transacciones]  WITH CHECK ADD  CONSTRAINT [FK_hechos_tiempo] FOREIGN KEY([dim_tiempo_id])
REFERENCES [dbo].[dim_tiempo] ([id])
GO
ALTER TABLE [dbo].[hechos_transacciones] CHECK CONSTRAINT [FK_hechos_tiempo]
GO
ALTER TABLE [dbo].[hechos_transacciones]  WITH CHECK ADD  CONSTRAINT [FK_hechos_tipo_transaccion] FOREIGN KEY([dim_tipo_transaccion_id])
REFERENCES [dbo].[dim_tipo_transaccion] ([id])
GO
ALTER TABLE [dbo].[hechos_transacciones] CHECK CONSTRAINT [FK_hechos_tipo_transaccion]
GO
USE [master]
GO
